@font-face {
	font-family: Neucha;
	src: url('Neucha.ttf');
}
html{
    height: 100%;
}
body {
    width: 100%;
    margin: 0;
}
main{
    display: inline-block;
    position: relative;
    margin-top:  5vw; 
    overflow: hidden;
    margin-bottom: 7vw;
}
header{
    z-index: 10;
    height: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color:white;
    position:fixed;
    margin-top:0;
}
header button, #delete-product-btn{
    position:fixed;
    top: 1vh;
    margin: 2vw;
    margin-top: 0.5vw;
    margin-right:1.5vw;
    margin-left:2vw;
    right: 2.5vw;
    height: 3vw;
    width: 6vw;
    z-index: 15;
    border-radius: 0.5vw;
    border: 1px solid;
}
header hr{
    width: 94vw;
    margin: 0;
    padding: 0;
}
header p{
    float: left;
    font-family: Neucha;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
}
header div button{
    position:fixed;
    top: 1vh;
    margin: 1vw;
    margin-top: 0.5vw;
    right: 11.5vw;
    height: 3vw;
    width: 6vw;
    z-index: 15;
    border-radius: 0.5vw;
    border: 1px solid;
}
header button:hover{
    background-color:rgb(247, 80, 80);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header div button:hover{
    background-color:rgb(141, 248, 108);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button{
    font-size:1vw;
    line-height: 1vw;
    font-family: Neucha;
}
#product_form{
    margin: 2vw;
}
#product_form button{
    position:fixed;
    top: 1vh;
    margin: 2vw;
    margin-top: 0.5vw;
    right: 10.5vw;
    height: 3vw;
    width: 6vw;
    z-index: 15;
    border-radius: 0.5vw;
    border: 1px solid;
}
#delete-product-btn, header button{
    position:fixed;
    top: 1vh;
    margin: 2vw;
    margin-top: 0.5vw;
    margin-right:1.5vw;
    margin-left:2vw;
    right: 2.5vw;
    height: 3vw;
    width: 6vw;
    z-index: 15;
    border-radius: 0.5vw;
    border: 1px solid;
}
#product_form button:hover, #delete-product-btn:hover{
    background-color:rgb(141, 248, 108);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#delete-product-btn:hover{
    background-color:rgb(247, 80, 80);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#product_form input{
    margin-left: 5vw;
    height: 2vw;
    width: 12vw;
    border-radius: 0.5vw;
    border: 1px solid;
}
#product_form label{
    float:left;
}
#product_form  #productType{
    margin-left: 3vw;
    height: 2.5vw;
    width: 12.5vw;
    border-radius: 0.5vw;
}
#product_form .main{
    float:left;
}
#product_form  p{
    font-family: Neucha;
    font-size: 1.5vw;
    clear:both; 
    text-align:right;
    letter-spacing: 0.2vw;
}
#product_form input:focus, select:focus{
    outline: none; 
    border-color: blue;
    box-shadow: 0 0 5px blue;
}
footer{
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}
footer hr{
    margin-right:2vw;
    margin-right:4vw;
    width: 94vw;
}
footer p{
    text-align: center;
    font-family: Neucha;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
}
#block{
    border-radius: 1vw;
    padding: 0.5vw 0vw 0vw 0vw;
    border: 2px solid black;
    width:17vw;
    height:12vw;
    float:left;
    margin: 1.5vw 2vw 2.5vw 2vw;
}
#block p{
    font-size: 1.2vw;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 0.7vw;
    font-family:Neucha;
    letter-spacing: 0.2vw;
    padding:0;
    margin-top:0;
}
#all{
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 2vw;
}
.delete-checkbox{
    margin: 0.5vw;
    width:1.3vw;
    height:1.3vw;
}